<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-3">
    
        {% if posts|length > 0 %}
        {% for post in posts %}
        {{ include('social/post.html.twig', { post: post }) }}
        {% endfor %}
        {% else %}
        Tutaj nie ma nic
        {% endif %}
</div>